<script>
APP.CH.comments = [
  <% @comments.each do |c| %>
  {
    "id" : <%= c.id %>,
    "comment" : "<%= c.comment.html_safe %>",
    "color" : "<%= c.color %>",
    "time" : "<%= c.created_at.strftime("%Y-%m-%dT%H:%M:%S.%LZ") %>",
    "user" : <%= c.user_id %>
  },
  <% end %>
  {}
];
APP.CH.comments.pop();

<% if @board.comments.count > @LOAD_AMOUNT %>
APP.CH.atTop = false;
<% end %>
</script>

<div id="commentsOverflowContainer" class="full fullHeight nano"><div class="nano-content">
  <!--
  <div id="backgroundMobaNotesImage">
    <img src="assets/mobanotesbackground.png" class="full fullHeight" />
  </div>
  -->
  <div id="comments" class="table full fullHeight selectable">


    <div class="mainRow row">
      <div class="cell">&nbsp;</div>
      <div class="cell center">
        <div id="startOfPost" class="userTextColor hidden">
          <input id="boardTitle" type="text" class="userTextColor" value="<%= params[:title].downcase %>" onblur="APP.PH.switchPage()" maxlength="30" />
        </div>
        <div id="loadingMorePosts" class="loadingMoreButton commentsButton hidden unselectable " onclick="APP.CH.scrolledToTop()">
          <div id="loadMorePostsButton">
            Load more posts
          </div>
          <div id="loadingMorePostsDiv" class="hidden">
            <img src="assets/ajax-loader.gif" /><br />
            loading more posts
          </div>
        </div>
      </div>
      <div class="cell">&nbsp;</div>
    </div>

    <div class="mainRow hidden loadBetweenRow">
      <div class="cell">&nbsp;</div>
      <div class="cell center">
        <div class="inbetweenMore1 unselectable">
          <div class="nextBetween commentsButton betweenCommon">
            Load the next <span class="betweenMessageButtonNumber plural">50 </span>post<span class="plural">s</span>
          </div>
          <div class="betweenMessage betweenCommon"><span class="betweenMessageNumber">100 </span>hidden post<span class="plural">s</span> in between</div>
          <div class="prevBetween commentsButton betweenCommon">
            Load the previous <span class="betweenMessageButtonNumber plural">50 </span>post<span class="plural">s</span>
          </div>
          <div class="loadingBetweenDiv hidden up10 down10">
            <img src="assets/ajax-loader.gif" />
          </div>
        </div>
      </div>
      <div class="cell">&nbsp;</div>
    </div>

    <div class="mainRow row contentRow" style="display:none;">

      <div class="mainLeft cell unselectable">
        <div class="commentUser" style="background-color:#000;border:1px solid #000">
          <img src="assets/anonymouslogo2.png" />
        </div>
      </div>
      <div class="mainMiddle cell">
        <div class="mainMiddleComment mainMiddleSpacing" >
          <div class="restrictSelect"></div><div class="restrictSelect noText">&nbsp;</div>
        </div>
      </div>

      <div class="mainRight mainRightComment cell unselectable" style="color:#000">

        <div class="table mainRightTable">
          <div class="row">

            <div class="cell">
              <div class="commentsIcon" >
                <img class="clipboardIcon" src="assets/clipboard.png">
              </div>
            </div>
            <div class="cell">
              <div class="commentsIcon" >
                <img class="settingsIcon" src="assets/settingsicon.png">
              </div>
            </div>
            <div class="cell timeCell"></div>
          </div>
        </div>

      </div>
    </div>


    <div class="mainRow row">
      <div id="commentsBottomFiller" class="cell">&nbsp;</div><div class="cell"></div><div class="cell"></div>
    </div>

  </div>
</div></div>

<div id="clipboardTooltip" class="modal stdTooltip hidden">
  <div class="table">
    <div class="row">
      <div class="cell">
        <div class="stdArrowTop"></div>
      </div>
    </div>
    <div class="row">
      <div class="cell tipCell">
        Copy post text to clipboard
      </div>
    </div>
  </div>
</div>

<div id="settingsTooltip" class="modal stdTooltip hidden">
  <div class="table">
    <div class="row">
      <div class="cell">
        <div class="stdArrowTop"></div>
      </div>
    </div>
    <div class="row">
      <div class="cell tipCell">
        Post settings
      </div>
    </div>
  </div>
</div>

<div id="copiedTooltip" class="modal stdTooltip hidden">
  <div class="table">
    <div class="row">
      <div class="cell">
        <div class="stdArrowTop"></div>
      </div>
    </div>
    <div class="row">
      <div class="cell tipCell">
        Copied
      </div>
    </div>
  </div>
</div>

<div id="dateTooltip" class="modal stdTooltip hidden">
  <div class="table">
    <div class="row">
      <div class="cell">
        <div class="stdArrowTop"></div>
      </div>
    </div>
    <div class="row">
      <div class="cell tipCell">
      </div>
    </div>
  </div>
</div>

<div id="settingsEditTooltip" class="modal stdTooltip hidden">
  <div class="table">
    <div class="row">
      <div class="cell">
        <div class="stdArrowTop"></div>
      </div>
    </div>
    <div class="row">
      <div class="editTooltip cell tipCell clickable" onclick="APP.CH.editComment();">
        edit
      </div>
    </div>
    <div class="row">
      <div class="deleteTooltip cell tipCell clickable" onclick="APP.CH.deleteComment();">
        delete
      </div>
    </div>
  </div>
</div>

<div id="notifyBar" class="modal hidden" style="top:40px;margin-left:auto;margin-right:auto;">
  <div class="table" style="background-color:#00AEFF;color:white;border-radius:3px;">
    <div class="row">
      <div class="cell" style="background-color:#0099CC;height:100%;width:50px;text-align:center;border-radius:3px 0px 0px 3px">
      	close
      </div>
      <div class="cell" style="padding:10px;padding-bottom:6px;width:400px;text-align:center;">
        You have 10 seconds to undo the last delete.
      </div>
      <div class="cell clickable" style="background-color:#0099CC;height:100%;width:50px;text-align:center;border-radius:0px 3px 3px 0px">
      	undo
      </div>
      <div class="cell">
      	
      </div>
    </div>
  </div>
  
  <div class="table" style="background-color:#00AEFF;color:white;border-radius:3px;margin-top:5px">
    <div class="row">
      <div class="cell" style="background-color:#0099CC;height:100%;width:50px;text-align:center;border-radius:3px 0px 0px 3px">
      	close
      </div>
      <div class="cell" style="padding:10px;padding-bottom:6px;width:400px;text-align:center;">
        You have 10 seconds to undo the last delete.
      </div>
      <div class="cell clickable" style="background-color:#0099CC;height:100%;width:50px;text-align:center;border-radius:0px 3px 3px 0px">
      	undo
      </div>
      <div class="cell">
      	
      </div>
    </div>
  </div>
</div>

<div class="hidden">
  <div id="reeditEditorBotTemplate" class='reeditEditorBot'>
    <div class="table full">
      <div class="row">
        <div class="cell left">
          <button class='alternateButton stdButton center'>cancel</button>
        </div>
        <div class="cell">
          <button class='primaryButton stdButton'>save</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- List of comments -->
<!--
<ul id="comments">



</ul>
-->
<!-- End of previous comments -->
