
<div class="table full fullHeight">
  <div class="row">
    
    <div id="footerLeft" class="mainLeft cell">
      <div id="footerUser" class="clickable userBackgroundColor userBorderColor" onclick="APP.UH.newColor()">
        <img src="assets/anonymouslogo2.png" onmouseover="APP.UH.colorTooltipShow()" onmouseout="APP.UH.tooltipHide('color')"/>
      </div> 
    </div>
    <div id="footerMiddle" class="mainMiddle cell">
      
      <div style="min-height:5px;height:5px;"></div>
      <textarea class="userBorderColor" id="comment"></textarea><br /> 
         
    </div>
    <div id="footerRight" class="mainRight cell">
      <button id="postButton" class="clickable userBackgroundColor stdButton" onclick="APP.CH.addComment()">post</button><br />
      <div id="enterCheckboxTable" class="table" onmouseover="APP.UH.enterTooltipShow()" onmouseout="APP.UH.tooltipHide('enter')">
        <div class="row">
          <div class="cell">
            <input id="enterCheckbox" class="clickable" type="checkbox" onclick="APP.UH.toggleEnter()" 
              <% if session[:user].enterpress %>checked<% end %>>
          </div>
          <div class="cell">
            press <span class="userTextColor">enter</span> to post
          </div>
        </div>
      </div>
      
    </div>   
  </div>
</div>

<div id="colorTooltip" class="modal stdTooltip hidden">
  <div class="table">
    <div class="row">
      <div class="cell tipCell">
        Click to change color
      </div>
    </div>
    <div class="row">
      <div class="cell transparent">
        <div class="stdArrowBottom"></div>
      </div>
    </div>
  </div>
</div>

<div id="enterTooltip" class="modal stdTooltip hidden">
  <div class="table">
    <div class="row">
      <div class="cell tipCell">
        You can always press SHIFT + ENTER to post
      </div>
    </div>
    <div class="row">
      <div class="cell transparent">
        <div class="stdArrowBottom"></div>
      </div>
    </div>
  </div>
</div>