<div class="table full fullHeight">
  <div class="row">

    <div class="cell mainLeft bottom">
      <div id="menuButtonDiv" class="shadable" onclick="APP.UH.showMoreMenu()">
        <div>
          <img src="assets/moreicon.png" class="full fullHeight">
        </div>
      </div>
      <div id="moreMenuDropdown">
        <div class="moreMenuContainer">
          <div class="menuItem">
            <span>Subscribe Board</span>
          </div>
          <div class="menuItem">
            <span>About Us</span>
          </div>
        </div>
      </div>

    </div>
    <div class="cell mainMiddle">
      <div class="table full fullHeight">
        <div class="row">
          <div id="headerMiddleLogoDiv" class="cell">
            <div id="headerLogoDiv" class="userBackgroundColor">
              <img src="assets/mobanoteslogo.png">
            </div>
          </div>
          <!--
          <div class="headerFillerDiv cell"></div>
          <div id="headerMiddleTitleDiv" class="userTextColor cell">
            <input class="userTextColor" type="text" value="/<%= params[:title] %>">
          </div>
          -->
          <div class="cell" style="width:60%"></div>
          <div id="searchLeft" class="cell">
            <input type="text" class="userBorderTopColor userBorderLeftColor" placeholder="search"/>
          </div>
          <div id="searchMiddle" class="cell">

            <div id="selectedSearchOption" class="userTextColor userBorderTopColor clickable" onclick="APP.SH.changeSearch()">
              this website
            </div>

            <div id="searchOption" class="table userTextColor userBorderLeftColor userBorderRightColor userBorderBottomColor">
              <div id="searchOption1" class="searchOption row">
                <div class="cell" onclick="APP.SH.searchOption('this page')">
                  this page
                </div>
              </div>
            </div>

          </div>
          <div id="searchMiddleArrow" class="cell">
            <div id="downArrowDiv" class="clickable userTextColor userBorderTopColor userBorderRightColor" onclick="APP.SH.changeSearch()"
              ><div id="downArrowSprite" class="userBackgroundColor"
                ><img src="assets/downarrow.png"
              ></div>
            </div>
          </div>
          <div id="searchRight" class="cell"
            ><div class="userBackgroundColor userBorderTopColor userBorderRightColor clickable" onclick="APP.SH.search();">
              <img src="assets/searchiconwhite.png" />
            </div>
          </div>

        </div>
      </div>

    </div>
    <div class="cell mainRight">

      <div id="loginTable" class="table">
        <div class="row">
          <div class="cell shadable">
            log in
          </div>
          <div class="cell shadable">
            sign up
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
