<input type="hidden" id="boardid" value="<%= @board.id %>">
<input type="hidden" id="startColor" value="<%= session[:user].color %>">
<input type="hidden" id="board" value="<%= params[:title].downcase %>">
<input type="hidden" id="userid" value="<%= session[:user].id %>">

<!-- This is the public board: <%= params[:title] %><br /><br /> -->

<div class="table full fullHeight unselectable">
  <header class="row">
  	<div class="cell userBorderBottomColor">
  	  
  	  <%= render partial: "header" %>
  	  
  	</div>
  </header>
  <main class="row">
  	<div <%= if @board.comments.count == 0 then "id=commentsDiv" end %> class="cell">
  	  
  	  <%= render partial: "comments" %>
  	
    </div>
  </main>
  <footer class="row" style="display:none">
    <div class="cell">
      
      <%= render partial: "footer" %>
      
    </div>
    
  </footer>
</div>

<script>
window.onload = APP.start
window.onhashchange = APP.urlChanged;
</script>
