Hello!

    <form action="https://mobahive.s3-us-west-1.amazonaws.com/" method="post" enctype="multipart/form-data">
      <input type="hidden" name="key" value="uploads/${filename}">
      <input type="hidden" name="AWSAccessKeyId" value="AKIAJNUZBLBYKYKA67IA"> 
      <input type="hidden" name="acl" value="public-read"> 
      <input type="hidden" name="success_action_redirect" value="http://localhost:3000/success">
      <input type="hidden" name="policy" value="<%= @policy %>">
      <input type="hidden" name="signature" value="<%= @signature %>">
      <input type="hidden" id="Content-Type" name="Content-Type" value="application/octet-stream">
      <!-- Include any additional input fields here -->

      File to upload to S3: <br>
      
      
      <input onchange="updateType()" id="file" name="file" type="file"> 
      
      <br> 
      
      <div class="droptarget" >
  <p draggable="true" id="dragtarget">Drag me!</p>
</div>
      
      <div id="maindragarea" style="padding:20px;border:#AAA;border:1px dashed #AAA;" ondragover="hh(event)" ondragleave="hx()">
        drag your file here
      </div>
      
      <input type="submit" value="Upload File to S3"> 
    </form> 
  </body>

<script>

var mimeTypes = {
  ".gif": "image/gif",
  ".jpg": "image/jpeg",
  ".jpeg": "image/jpeg",
  ".pdf": "application/pdf",
  ".png": "image/png",
  ".txt": "text/plain"
}

function hh(e) {
  e.preventDefault();
  $("#maindragarea").css("background-color", "#EEE");
}

function hx() {
  $("#maindragarea").css("background-color", "#FFF");
}
var currUploadFile;
function ParseFile(file) {
    // enableUploadBut();
    currUploadFile = file;
    var toAppend;
    if (file.size < 1024){
       toAppend = " [" + file.size  + " bytes]";
    } else if (file.size < 1048576) {
       toAppend = " [" + Math.round(file.size / 1024 * 100) / 100 + " KB]";
    } else {
       toAppend = " [" + Math.round(file.size / 1048576 * 100) / 100 + " MB]";
    }
    $('#maindragarea').html(file.name + toAppend);
}

function endsWith(str, suffix) {
    return str.indexOf(suffix, str.length - suffix.length) !== -1;
}

function FileSelectHandler(e) {
  e.stopPropagation();
  e.preventDefault();
  alert("boo!");
  // fetch FileList object
  var files = e.target.files || e.dataTransfer.files;
  for (var i = 0, f; f = files[i]; i++) {
    if (i >= 1){
        dragErr("Please only drag one file");
        return;
    }
  }
  
  // process all File objects
  for (var i = 0, f; f = files[i]; i++) {
    ParseFile(f);
  }
}

function updateType() {
  var s = $("#file").val();
  s = s.substr(s.lastIndexOf("."));
  if (mimeTypes[ s.toLowerCase() ] != undefined) {
    $("#Content-Type").val(mimeTypes[ s.toLowerCase() ]);
  } else {
    $("#Content-Type").val("application/octet-stream");
  }
}

document.getElementById("maindragarea").addEventListener("drop", FileSelectHandler, false);
// var dispatcher = new WebSocketRails('localhost:3000/services/websocket');

// dispatcher.trigger('publicboard.add_message',  {"message": "hello world"}, function() {alert("success")},  function() {alert("failed")});


</script>
