html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-size: 80%;
  background-color: white;
  font-family: 'Comfortaa', cursive;
  color: #555;
  min-width: 0px;
  border-spacing: 0px;
}

p {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}

header {
  height: 35px;
}

textarea {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  color:#555;
}

input[type="text"] {
  font-family: 'Open Sans', sans-serif;
}

/* Header */

#headerLogoDiv {
  height:34px;
  width:136px;
}

#headerLogoDiv img {
  height:34px;
  width:136px;
}

#headerMiddleLogoDiv {
  width:160px;
}

.headerFillerDiv {
  width:10px;
}

/*

#headerMiddleTitleDiv {
  padding-top:10px;
  vertical-align:middle;
  font-size:140%;
}

#headerMiddleTitleDiv input[type="text"] {
  font-family: 'Comfortaa', cursive;
  border:0px;
  outline:none;
  height:30px;
  font-size:100%;
}

*/

#searchLeft {
  vertical-align:middle;
  width:40%;
  min-width:200px;
}

#searchLeft input[type="text"] {
  width: -moz-calc(100% - 12px);
  width: -webkit-calc(100% - 12px);
  width: calc(100% - 12px);
  border-right:0px;
  border-bottom:0px;
  height:27px;
  padding:0px;
  margin-top:6px;
  border-radius:3px 0px 0px 0px;
  outline:none;
  padding-left:7px;
  padding-right:5px;
}

#searchOption {
  position:absolute;
  z-index: 1000;
  background: white;
  width: 98px;
  border-top:1px solid white;
  border-radius:0px 0px 3px 3px;
  display:none;
}

#searchOption div.cell {
  text-align: right;
  padding-right: 20px;
  font-size: 90%;
  padding-top: 6px;
  padding-bottom: 4px;
  width:78px;
}

#searchOption div.cell:hover {
  background-color:#F0F0F0;
  cursor:pointer;
}

#searchMiddle {
  vertical-align:bottom;
  min-width:80px;
}

/* The select box */
#searchMiddle > div:first-child {
  height:21px;
  padding-top:6px;
  text-align:right;
  width:100%;
  font-size:90%;
}

.retina #searchMiddle > div:first-child {
  height:17px;
  padding-top:10px;
}

#searchMiddleArrow {
  vertical-align:top;
  padding-top:6px;
  width:20px;
}

#downArrowDiv {
  height:15px;
  padding-top:12px;
  padding-left:5px;
  padding-right:5px;
  width:10px;
}

#downArrowSprite {
  height:6px;
  width:9px;
}

#downArrowSprite img {
  width:9px;
  height:100%;
  padding-bottom:7px;
}

.retina #downArrowSprite img {
  padding-bottom:6px;
}

#searchRight {
  min-width:30px;
  width:30px;

  vertical-align:top;
  padding-top:6px;

}

#searchRight > div {

  height:22px;
  padding-top:5px;
  padding-left:4px;
  border-radius:0px 3px 0px 0px;
}

#searchRight img {
  width:20px;
  margin-left:auto;
  margin-right:auto;
}

#searchRight:hover img {
  width:22px;
  margin-left:-1px;
  margin-top:-1px;
}

#searchRight:active img {
  width:20px;
  margin-left:auto;
  margin-top:auto;
}

#loginTable {
  margin-left:13px;
  margin-top:7px;
  font-size:90%;
}

#loginTable .cell {
  background-color:#FAFAFA;
  height:18px;
  padding-top:8px;
  width:60px;
  text-align:center;
}

#loginTable .cell:first-child {
  border-radius:3px 0px 0px 0px;
  border-top:1px solid #E0E0E0;
  border-left:1px solid #E0E0E0;
  border-right:1px solid #E0E0E0;
}

#loginTable .cell:last-child {
  border-radius:0px 3px 0px 0px;
  border-top:1px solid #E0E0E0;
  border-right:1px solid #E0E0E0;
}

#loginTable .cell:hover {
  cursor:pointer;
  background-color:#F0F0F0;
}

#loginTable .cell:active {
  cursor:pointer;
  background-color:#EAEAEA;
}

#menuButtonDiv {
  margin-left: auto;
  margin-right: 8px;
  width: 27px;
  height: 27px;
  border-radius: 3px 3px 0px 0px;
  background-color:#FAFAFA;
  border:1px solid #E0E0E0;
  border-bottom:0px;
}

#menuButtonDiv:hover {
  cursor:pointer;
  background-color:#F0F0F0;
  width:29px;
  margin-right:7px;
  height:28px;
}

#menuButtonDiv.active {
  cursor:pointer;
  background-color:#F0F0F0;
  width:29px;
  margin-right:7px;
  height:28px;
}

#menuButtonDiv:active {
  width:27px;
  margin-right:8px;
  height:27px;
}

#menuButtonDiv > div {
  height:15px;
  width:15px;
  margin-right:auto;
  margin-left:auto;
  margin-top:7px;
}

#menuButtonDiv:hover > div {
  height:17px;
  width:17px;
  margin-top:6px;
}

#menuButtonDiv.active > div {
  height:17px;
  width:17px;
  margin-top:6px;
}

/* Main */

main {
  background-color: #FBFBFB;
}

main > .cell {
	background-color: #FBFBFB;
	height: 100%;
}

#boardTitle {
  background-color:transparent;
  border:0px;
  text-align:center;
  width:400px;
  outline:none;
  font-size:150%;
  font-family: 'Comfortaa', cursive;
}

.mainLeft {
  width:20%;
  min-width:75px;
}

.mainLeftScrollOffset {
  width:17px;
  min-width:17px;
  max-width:17px;
}

.mainRight {
  width:20%;
  min-width:100px;
}

.mainRightComment {
  font-family: 'Comfortaa', cursive;
  font-size:80%;
  padding-left:10px;
  vertical-align:top;
}

.commentSolo .mainRightComment, .commentTop .mainRightComment {

}

.mainMiddle {
  width: 60%;
  min-width: 500px;
  vertical-align: top;
}

.mainMiddleComment {
  width: -moz-calc(100% - 16px);
  width: -webkit-calc(100% - 16px);
  width: calc(100% - 16px);
  background-color:white;

  padding-left:7px;
  padding-right:7px;
  padding-top:5px;
  padding-bottom:3px;
  font-size:100%;

  font-family: 'Open Sans', sans-serif;
}

.commentSolo .mainMiddleSpacing {
  margin-top:5px;
  margin-bottom:5px;
}

.commentSolo .mainMiddleComment {
  border-radius:3px;
  border:1px solid #F0F0F0;
}

.commentTop .mainMiddleSpacing {
  margin-top:5px;
}

.commentTop .mainMiddleComment {
  border-radius:3px 3px 0px 0px;
  border:1px solid #F0F0F0;
}

.commentMiddle .mainMiddleSpacing {
  margin-top:0px;
  margin-bottom:0px;
}

.commentMiddle .mainMiddleComment {
  border:1px solid #F0F0F0;
  border-top:0px;
}

.commentBottom .mainMiddleSpacing {
  margin-top:0px;
  margin-bottom:5px;
}

.commentBottom .mainMiddleComment {
  border:1px solid #F0F0F0;
  border-top:0px;
  border-radius:0px 0px 3px 3px;
}

.retina .mainMiddleComment {
  padding-top:5px;
}

.chrome .mainMiddleComment {
  padding-top:5px;
  padding-bottom:4px;
}

.mainMiddleComment:hover {
  border-left:1px solid #000000;
  border-right:1px solid #000000;
}

.commentUser {
  margin-left:auto;
  margin-top: 5px;
  margin-right:10px;
  height: 26px;
  width: 26px;
  border-radius: 3px;
}

.commentUser img {
  height:100%;
  width:100%;
}

#backgroundMobaNotesImage {
  width: 50%;
  min-width: 400px;
  margin-top:45px;
  position:fixed;
}

#commentsDiv {
  background:url("mobanotesbackground.png") 50% 45px;
  background-size:50%;
  background-repeat:no-repeat;
}

#commentsBottomFiller {
  height:99%;
  padding-bottom:50px;
}

#commentsOverflowContainer {

}

.commentSolo .mainRightTable, .commentTop .mainRightTable {
  margin-top:5px;
}

.mainRightTable .cell {
  height:28px;
  min-width:25px;
  vertical-align:middle;
}

.commentsIcon {
  width:18px;
  height:18px;
  margin-left:1px;
}

.commentsIcon img{
  width:100%;
  height:100%;
}

.commentsIcon:hover, .commentsIcon.zeroclipboard-is-hover {
  cursor:pointer;
  width:20px;
  height:20px;
  margin-left:0px;
}

.commentsIcon:active, .commentsIcon.zeroclipboard-is-active {
  cursor:pointer;
  width:18px;
  height:18px;
  margin-left:1px;
}


.mainRightTable .row .timeCell {
  vertical-align:top;
  padding-top:10px;
  padding-left:2px;
  height:16px;
  width:50px;
  font-size:110%;
}

.mainRightTable .row .timeCell:hover {
  cursor:default;
}

#startOfPost {
  padding-top:10px;
}

#loadingMorePosts {
  width: -moz-calc(100% - 2px);
  width: -webkit-calc(100% - 2px);
  width: calc(100% - 2px);
  padding-top:15px;
  padding-bottom:10px;
  margin-top:10px;
  height:50px;
}

.commentsButton {
  background-color:#FEFEFE;
  border:1px solid #E0E0E0;
  border-radius:3px;
  color:#555;
  -webkit-box-shadow: 0 0 5px #E0E0E0;
  box-shadow: 0 0 5px #E0E0E0;
}

.commentsButton:hover {
  cursor:pointer;
  background-color:#FAFAFA;
}

.commentsButton:active {
  background-color:#F7F7F7;
}

#loadMorePostsButton {
  margin-top:18px;
}

#loadingMorePosts img {
  margin-bottom:10px;
}

.inbetweenMore1 {
  width:100%;
}

.inbetweenMore1 > .betweenMessage {
  font-size:90%;
  color:#AAA;
  background-color:white;
  border:1px solid #F0F0F0;
}

.inbetweenMore1 > .betweenMessage:hover {
  cursor:default;
}

.inbetweenMore1 > div {
  padding-top:9px;
  padding-bottom:5px;
}

.inbetweenMore1 > .nextBetween {
  margin-top:10px;
  border-radius:3px 3px 0px 0px;
}

.inbetweenMore1 > .prevBetween {
  border-radius:0px 0px 3px 3px;
  margin-bottom:10px;
}

#commentsToolbar {
  background-color:white;
  color:black;
  bottom:72px;
  left:20%;
  border:1px solid #E0E0E0;
  border-radius:3px;
  height:28px;
  min-width:498px;
  width:60%;
  z-index:1900;
}

.editTooltip.cell.tipCell{
	color:#00CC00;
	border-radius:3px 3px 0px 0px;
	padding-bottom:4px;
}

.deleteTooltip.cell.tipCell {
	color:#CC2222;
	border-radius:0px 0px 3px 3px;
	padding-top:4px;
}

.editTooltip:hover.cell.tipCell {
	color:#00FF00;
}

.deleteTooltip:hover.cell.tipCell {
	color:#FF0000;
}

/* Footer */

footer {
  height: 70px;
}

footer > .cell {
	background-color: #FBFBFB;
}

#footerLeft {
  vertical-align:top;
}

#footerMiddle {
  vertical-align: top;
}

#comment {
  margin-left:1px;
  /* width */
  width: -moz-calc(100% - 17px);
  width: -webkit-calc(100% - 17px);
  width: calc(100% - 17px);
  /* height */
  height: 42px;
  max-height:400px;

  border-radius: 3px;
  border:1px solid #AAAAAA;
  resize:none;
  padding:7px;
  margin:0px;
  outline: none;
}

#comment:focus {
  -webkit-box-shadow: 0 0 7px #D0D0D0;
  box-shadow: 0 0 7px #D0D0D0;
}

#postButton {
  margin-top: 5px;
  margin-left:10px;
  font-size:110%;
}

.stdButton {
  border:0px;
  color:white;
  width: 65px;
  height: 30px;
  border-radius: 3px;
  font-size:100%;
  outline: none;
  font-family: 'Comfortaa', cursive;
}

.retina .stdButton {
  padding-top:4px;
}

.retina #postButton {
  padding-top:3px;
}

.stdButton:hover {
  cursor:pointer;
  -webkit-box-shadow: 0 0 7px #D0D0D0;
  box-shadow: 0 0 7px #D0D0D0;
}

#footerUser {
  margin-left:auto;
  margin-top: 5px;
  margin-right:10px;
  height: 50px;
  width: 50px;
  border-radius: 3px;
}

#footerUser img {
  width:100%;
  height:100%;
}

#enterCheckboxTable {
  padding-top:5px;
}

#enterCheckboxTable .cell:first-child {
  padding-left:7px;
  width:20px;
  min-width:20px;
  height:28px;
}


.stdTooltip {
  top:100px;
  left:100px;
  z-index:2000;
}

.stdTooltip .cell {
  text-align:center;
}

.stdTooltip .tipCell {
  background-color:black;
  padding:7px 7px 5px 7px;
  color:white;
  font-size:80%;
  border-radius:3px;
}

.stdArrowTop, .stdArrowBottom, .stdArrowLeft, .stdArrowRight {
  margin-left:auto;
  margin-right:auto;
  width:0px;
  height:0px;
}

.stdArrowTop {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
}

.stdArrowBottom {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
}

#clipboardTooltip .stdArrowTop{
  margin-right:40px;
}

#enterTooltip .stdArrowBottom{
  margin-right:60px;
}

#copiedTooltip .tipCell {
  background-color:#00AA00;
}

#copiedTooltip .stdArrowTop {
  border-bottom:10px solid #00AA00;
}

.menuItem {
  padding: 5px;
}

.menuItem:first-child {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.menuItem:hover {
  background-color: #F0F0F0;
  cursor: pointer;
}

.moreMenuContainer {
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: 8px;
  z-index: 2;
  border-style: solid;
  border-width: 1px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: white;
  font-family: 'Comfortaa', cursive;
  width: 75%;
  left: calc(100% - 38px);
}

#moreMenuDropdown {
  position: relative;
}