<!DOCTYPE html>
<html>
<head>
  <title>Mobahive</title>
  
  <link rel="icon" type="image/png" href="<%= request.base_url %>/assets/mobanotesfavicon.png">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag '/assets/ckeditordev/ckeditor', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
